[*.cs]

# CS8603: 可能有 Null 參考傳回。
dotnet_diagnostic.CS8603.severity = none

# CS8604: 可能有 Null 參考引數。
dotnet_diagnostic.CS8604.severity = none

# CS8602: 可能 null 參考的取值 (dereference)。
dotnet_diagnostic.CS8602.severity = none
